doctype html  
html(lang='en')  
  head
    title About
    link(href='/styles/about.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name About
      hr
      a(href='../') Home
