doctype html  
html(lang='en')  
  head
    title About
    link(href='/styles/about.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name About
      hr
      a(href='../') Home

    .projects
      .project
        img.real(src='me.jpg')
        .description I'm a software engineer with interests in aerospace, 3D printing, and electronics. I love projects that span multiple of these passions and set up this website to document my explorations into them. I studied EECS (6-2, '19) at MIT and was active on the MIT Rocket Team. Before that I attended the Maine School of Science and Math, where I learned how to tolerate cold weather. I currently write software for 3D printers at Markforged.
        .description andrew.r.reilley at g mail

      .project
        .name Use Policy
        .description As a firm believer in and regular user of open source software projects, I decided to put my hobby projects and learnings out on the internet for others to use, learn from, and build off of. I have just a few requests in return:

        ul.aboutList Please do:
          li Build awesome stuff using my content!
          li Email me when you do, or if you have questions.

        ul.aboutList Please don't:
          li Claim ownership of my designs, or post about them publicly without linking back to my website.
          li Hurt yourself or others. Much of what I post about can be dangerous if not done correctly, so make sure you understand all legal and safety requirements before starting a rocketry project.
