doctype html  
html(lang='en')  
  head
    title Solid Rocket Motors
    link(href='/styles/srm.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Solid Rocket Motors
      hr
      a(href='../') Home
      ||
      a(href='../rocketry') Rocketry
      ||
      a(href='../rmts') RMTS

    .separatorBox
      .name Information
    .projects
      .project
        img.real(src = 'aftfinocyl/thumbnail.jpg')
        .name Aft-Finocyl Geometry
        .description A tunable, monolithic propellant geometry that enables high volume loading. Though previously difficult to manufacture for amateur motors, 3D printed mandrels make it easy.
        a(href='aftfinoycl') Read more
      .project
        img.real(src = 'aftfinocyl/thumbnail.jpg')
        .name Pourable Formula Design
        .description Some guidelines and tips for making a relatively high solids-loading propellants that process much more easily than typical amateur compositions.
        a(href='pourables') Read more
    .separatorBox
      .name Motors
    .projects
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/K7DR6U88c2o", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name N2900
        .description
          table
            tr
              td Date:
              td 1/15/22
            tr
              td Target Impulse:
              td 18 kNs
            tr
              td Hardware:
              td 4"x42"
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Nozzle Failure
        a(href='n2900') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/Hv3WkjrTcs0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name M1500
        .description
          table
            tr
              td Date:
              td 9/26/21
            tr
              td Target Impulse:
              td 7 kNs
            tr
              td Hardware:
              td 3"x26"
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
        a(href='m1500') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/bp4o7TBjRgA", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name K616
        .description
          table
            tr
              td Date:
              td 8/14/21
            tr
              td Target Impulse:
              td 2 kNs
            tr
              td Hardware:
              td Loki 54-2000
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
        a(href='k616') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/SDGTBhFTltg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P9100
        .description
          table
            tr
              td Date:
              td 1/25/19
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td 134 Lbs
            tr
              td Outcome:
              td Success
        a(href='p9100') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/glzq8ue1MZ4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P18000
        .description
          table
            tr
              td Date:
              td 2/18/18
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td ~130 Lbs
            tr
              td Outcome:
              td Failure
        a(href='p18000') Read more
