doctype html  
html(lang='en')  
  head
    title Solid Rocket Motors
    link(href='/styles/srm.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Solid Rocket Motors
      hr
      a(href='../') Home
      ||
      a(href='../rocketry') Rocketry
      ||
      a(href='../rmts') RMTS

    .separatorBox
      .name Information
    .projects
      .project
        img.real(src = 'aftfinocyl/thumbnail.jpg')
        .name Aft-Finocyl Geometry
        .description A tunable, monolithic propellant geometry that enables high volume loading. Though previously difficult to manufacture for amateur motors, 3D printed mandrels make it easy.
        a(href='aftfinoycl') Read more
      .project
        img.real(src = 'aftfinocyl/thumbnail.jpg')
        .name Pourable Formula Design
        .description Coming soon
        a(href='aftfinoycl') Read more
    .separatorBox
      .name Motors
    .projects
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/glzq8ue1MZ4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P18000
        .description
          table
            tr
              td Date:
              td 2/18/18
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td ~130 Lbs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Outcome:
              td Failure
        a(href='p18000') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/SDGTBhFTltg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P9100
        .description
          table
            tr
              td Date:
              td 1/25/19
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td 134 Lbs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Outcome:
              td Success
        a(href='p9100') Read more
