doctype html  
html(lang='en')  
  head
    title Solid Rocket Motors
    link(href='/styles/srm.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Solid Rocket Motors
      hr
      a(href='../') Home
      ||
      a(href='../rocketry') Rocketry
      ||
      a(href='../rmts') RMTS

    .separatorBox
      .name Articles
    .projects
      .project
        img.real(src = 'mandrels/thumbnail.jpg')
        .name 3D Printed Mandrels
        .description 3D printed mandrels allow amateur rocketeers to explore propellant geometries that were previously challenging to cast on a small scale without special tooling. This article covers my learnings from the experiments I've done with printed mandrels.
        a(href='mandrels') Read more
      .project
        img.real(src = 'aftfinocyl/thumbnail.jpg')
        .name Aft-Finocyl Geometry
        .description A tunable, monolithic propellant geometry that enables high volume loading. Though previously difficult to manufacture for amateur motors, 3D printed mandrels make it easy.
        a(href='aftfinoycl') Read more (Coming soon)
      .project
        img.real(src = 'pourables/thumbnail.jpg')
        .name Pourable Formula Design
        .description Some guidelines and tips for making relatively high solids-loading propellants that process much more easily than typical amateur compositions.
        a(href='pourables') Read more (Coming soon)
      .project
        img.real(src = 'gem/thumbnail.png')
        .name Composite Case Design
        .description The heaviest component of a typical solid rocket motor design behind the propellant is usually the motor casing. To optimize this major contributor to overall rocket mass, I developed a series of motors that borrows ideas from motors made in the industry by utilizing filament wound carbon fiber cases.
        a(href='gem') Read more (Coming soon)
      .project
        img.real(src = 'teststand/thumbnail.png')
        .name Test Stand Design
        .description Static firing rocket motors is essential to verifying their design and performance, and a carefully-designed structure is, in turn, required to do so safely and efficiently.
        a(href='teststand') Read more (Coming soon)

    .separatorBox
      .name Motors
    .projects
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/N2OcNsJt990", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name GEM3-M: M830
        .description
          table
            tr
              td Date:
              td 6/7/22
            tr
              td Target Impulse:
              td 7.2 kNs
            tr
              td Hardware:
              td 3"x30" Carbon Fiber Composite Case
            tr
              td Geometry:
              td Moonburner
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/tLMQOUrY6_g", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name GEM3: M1470
        .description
          table
            tr
              td Date:
              td 3/26/23
            tr
              td Target Impulse:
              td 7.3 kNs
            tr
              td Hardware:
              td 3"x30" Carbon Fiber Composite Case
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/vgz-9FnF8DI", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name GEM2: K490
        .description
          table
            tr
              td Date:
              td 11/20/22
            tr
              td Target Impulse:
              td 2 kNs
            tr
              td Hardware:
              td 2"x20" Carbon Fiber Composite Case
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/K7DR6U88c2o", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name N2900
        .description
          table
            tr
              td Date:
              td 1/15/22
            tr
              td Target Impulse:
              td 18 kNs
            tr
              td Hardware:
              td 4"x42"
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Nozzle Failure
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/Hv3WkjrTcs0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name M1500
        .description
          table
            tr
              td Date:
              td 9/26/21
            tr
              td Target Impulse:
              td 7 kNs
            tr
              td Hardware:
              td 3"x26"
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/bp4o7TBjRgA", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name K620
        .description
          table
            tr
              td Date:
              td 8/14/21
            tr
              td Target Impulse:
              td 2 kNs
            tr
              td Hardware:
              td Loki 54-2000
            tr
              td Geometry:
              td Aft Finocyl
            tr
              td Formula:
              td Slow White
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/SDGTBhFTltg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P9100
        .description
          table
            tr
              td Date:
              td 1/25/19
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td 134 lb
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/glzq8ue1MZ4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name P18000
        .description
          table
            tr
              td Date:
              td 2/18/18
            tr
              td Target Impulse:
              td 70 kNs
            tr
              td Hardware:
              td 6"x74"
            tr
              td Mass:
              td 130 lb
            tr
              td Outcome:
              td Failure
