doctype html  
html(lang='en')  
  head
    title Solid Rocket Motors
    link(href='/styles/srm.css', rel='stylesheet')
  body
    .header
      .name Solid Rocket Motors
      hr
      a(href='../') Home
      ||
      a(href='../rocketry') Rocketry
      ||
      a(href='../rmts') RMTS

