doctype html  
html(lang='en')  
  head
    title RMTS
    link(href='/styles/rmts.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name RMTS
      hr
      .shortBio DAQ and ignition system for solid rocket motors
      hr
      a(href='../') Home
      ||
      a(href='../rocketry') Rocketry
      ||
      a(href='../srm') Solid Rocket Motors

    .detailBox
      .name Concept

    .projects
      .project
        .name Hardware

      .project
        .name Software

    .detailBox
      .name Example Output

    .projects
      .project
        .name Manual
        .description Coming soon

      .project
        .name Acquiring a system
        .description This project is entirely open source, which means anyone can build their own based on the code and board layouts hosted on github. I do plan to offer assembled systems for sale soon for those who just want a turnkey solution.
