doctype html  
html(lang='en')  
  head
    title 3D Printed Mandrels
    link(href='/styles/srm.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name 3D Printed Mandrels
      hr
      a(href='../') Solid Rocket Motors
      ||
      a(href='../../rocketry') Rocketry
      ||
      a(href='../../rmts') RMTS

    .separatorBox
      .name A ramble about manufacturing mandrels for casting solid propellant
    .projects
      .project
        
        img.centered.single(src = 'header.png')

        .description There are two primary propellant-related controls an engineer has when designing a solid rocket motor to deliver a specified thrust profile. One is the composition of the propellant formula. The other, and the subject of this page, is the propellant geometry. Mass flow is a function of the exposed surface area of the propellant grain, and the way that this property evolves over time is determined by the initial shape of the grain. This means that the shape of the propellant grain is critical to the thrust profile and overall performance of the motor. Amateur rocketry hobbyists previously haven’t had much control over this aspect of their motor designs, but I’ve found that the recent prevalence of hobby-grade 3D printers has finally made it accessible.

        img.centered.halfWidth(src = 'bates_combo.png')
        img.centered.halfWidth(src = 'finocyl_combo.png')

        .description The details of how to select and tune a geometry could easily be an article on its own, and is also a skill that I’m still working towards mastering myself. The important thing to note is that when comparing SRMs built by amateurs to those designed by companies in industry, amateur motors tend to use simple geometries like stacked BATES grains while “real” motors often feature star or finocyl cores. Of course, professionals don’t use these geometries just because they can, but because non-BATES geometries allow for much better control over thrust profile while still retaining good volume loading at a range of aspect ratios. It isn’t a matter of scale either, as motors in the 2”-4” diameter range that amateurs typically build can benefit greatly from these geometries. Amateurs don’t often pursue these designs either because they aren’t aware of them, or because of the manufacturing challenges involved.

        .description BATES grains can be cast around essentially any rigid, cylindrical object of the proper diameter. For smooth surfaces like machined/ground aluminum or PTFE, a light coat of a good mold release like Mann 200 or Stoner E236 is all you need and you’ll be able to push out the mandrels by hand. For less smooth or porous mandrel materials like wooden dowels, wrapping the surface in electrical tape with the sticky side out will build a nice release layer that allows the mandrel to be pushed out. The tape can then be peeled off to yield a decent propellant face. Because of this flexibility, BATES grains are very easy for anyone with propellant making capabilities to cast, certainly a significant part of why they are so common. One the other hand, the downsides to the BATES design include limited volume loading because of the gaps between the grains and the casting tubes themselves taking up space. Sourcing casting tubes can also be a challenge if using a non-standard liner. For these reasons and previously mentioned improved control over thrust profile, amateurs have explored other geometries in the past.

        img.centered.single(src = 'foam_core_cropped.jpg')

        .description Some amateurs have successfully cast and fired motors with more complex geometries, like Derek Deville on his Qu8k project. The typical strategy involves gluing pieces of expanded foam onto a rigid rod and cutting it into the core shape with a hot wire. Propellant is then cast around the mandrel, and when it is cured, the mandrel is dissolved with a solvent like acetone or xylene. In my experience, this leaves a significant amount of foam residue on the propellant face. For short grains with large cores it isn’t too hard to scrape out, but for many grains it isn’t practical. This may have been due to my choice of foam or solvent, but in any case it was a lot of work, especially for a single-use mandrel.

    .projects
      .project

        img.centered.thirdWidth(src = '2k_mandrel.jpg')
        img.centered.thirdWidth(src = '2k_extraction.jpg')
        img.centered.thirdWidth(src = '2k_finished.jpg')

        .description These days, I’m using 3D printed mandrels to manufacture all of my non-BATES motors. These mandrels are easy to make, reusable, and produce a high quality propellant surface. There are a few tricks that I’ve learned along the way that will be helpful for anyone looking to replicate my results.

        img.centered.single(src = 'cad_cross_section.png')

        .description The first set of tips come in during the design phase of the geometry and the mandrel itself. I’ve found that for all but the highest-thrust motors, it is advantageous to use an aft-finocyl design where the core consists of both a cylindrical section and a finocyl section. This increases volume loading, extends burn time, and makes the printed part of the mandrel smaller, saving print time and making it easier to release. A full-length star or finocyl mandrel will have to be printed in multiple sections on most printers, while a ⅓-core-length aft finocyl mandrel can probably be printed in one piece and combined with an off-the-shelf rod to form the rest of the core. If you do have to print the mandrel in multiple sections, I recommend including alignment pins and a hole down the middle so the sections can be glued onto a nylon rod or wooden dowel (provided you can find a straight one). In either case, I’ve typically included a 0.01” taper over each 6” of the printed section of the mandrel to aid in release. This isn’t strictly required as I’ve had success without it, but it seems to make it easier.

        .description When it comes to printing the mandrel, use the smallest layer size your printer can support. I’ve printed most of my mandrels at 100um or 125um layer height and do this whenever possible. I printed one at 250um when I was in a hurry and while it did release, it left visible layer lines on the propellant face. You want the surface to be as smooth as possible, so use low accelerations and speeds to avoid ringing on the corners of the part. Similarly, use a filament that yields a smooth surface. If the surface comes out rough, or you had to print the mandrel in multiple sections, be sure to sand the surface and seams until smooth. I have used some mandrels without sanding, but I think the results end up better when you sand up to 800 grit. Alternatively, post-processing the part with vapor smoothing could be a good idea, but I haven’t personally tried this.

        img.centered.single(src = 'totg_mandrel.jpg')

        .description Here’s an example of one of my mandrels ready for use. I printed it in one piece on a large printer, and included holes on both ends, one for attaching an aluminum rod for the cylindrical part of the mandrel, and the other to couple into the bottom plate. The step on the bottom plate fits tightly into the liner and reserves the same amount of space that the step on the nozzle will take up. Once the mandrel is fit into the bottom plate, I wrap a collar of masking tape around it so the mandrel can’t float up as the propellant is poured in. I typically also print a custom funnel (pictured below) that both makes it easier to pour the propellant in and centers the mandrel.

        img.centered.halfWidth(src = 'funnel.png')
        img.centered.halfWidth(src = 'push_plate.png')

        .description Once the mandrel is assembled, you will want to apply several complete coats of a mold release like Mann 200 or Stoner E236. I missed a spot on a mandrel once and the propellant stuck, damaging the grain on release. Once the propellant is poured and cured, I start by removing the top plate, the tape retaining the bottom plate, and then the bottom plate itself. I find that binder often seeps under the mandrel, so I remove this layer to make sure I can see the whole mandrel profile. I then align a die plate (pictured above) with the mandrel, and then use bar clamps between the plate and the other end of the mandrel to push it out. The die plate is important because it ensures the load is distributed between the entire propellant face and the liner. As you start to apply force, there should be a moment where the mandrel pops free, after which you’ll be able to push it out by hand. This is especially true for tapered mandrels.

        .description The length of the grain should already be right if the aft plate’s step was the proper length and the correct amount of propellant was poured in. The grain is now ready to fire, with none of the face trimming and associated waste that comes with BATES grains. With these tips and some iteration on your own printers and propellant formulas, you should be able to cast high quality monolithic grains with complex core geometries. Feel free to reach out with questions or to share your own results!

        img.centered.single(src = 'footer.jpg')
