doctype html  
html(lang='en')  
  head
    title Andrew Reilley
    link(href='/styles/main.css', rel='stylesheet')
  body
    div.header
      h1.header Andrew Reilley
      hr
      h3 MIT Class of 2019 - Course 6 (EE/CS)
      a(href='resume.pdf') Resume
      a(href='https://www.github.com/reilleya') Github
