@bg-color: #ff9a56;

@box-width: 825px;

@article-image-padding: 20px;

body {
    background-color: @bg-color;
}

a {
    text-decoration: none;
}

.box {
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 6px;
    font-family: 'Libre Franklin', sans-serif;
    box-shadow: 0 0 0px 5px #afafaf;
}

.header {
    .box();
    width: 800px;
    margin-bottom: 20px;
    font-size: 24px;

    .name {
        font-size: 75px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .shortBio {
        font-size: 24px;
        margin-bottom: 0px;
    }

    a {
        padding: 10px;
        font-size: 24px;
    }
}


.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    .box();
    margin: 15px;
    width: @box-width;

    .name {
        font-size: 25px;
        padding-bottom: 6px;
        font-weight: bold;
    }

    .description {
        padding: 5px;
        text-align: left;
        font-size: 18px;
    }

    a {
        margin: 10px;
    }

    img {
        float: left;
        width:auto;
        height:275px;
        margin-right: 20px;
        &.real {
            border-radius: 6px;
        }
        &.screenshot {

        }
        &.centered {
            float: none;
            height: auto;
            padding-top: @article-image-padding;
            padding-bottom: @article-image-padding;
            &.halfWidth {
                max-width: 45%;
            }
            &.thirdWidth {
                max-width: 30%;
            }
            &.single {
                max-height: 300px;
                max-width: 90%;
            }
        }
    }

    iframe {
        float: left;
    }

    table {
        padding-left: 50px;
        width: 40%;
    }

    ul {
        padding-left: 400px;
    }
}

.separatorBox {
    .box();
    width: @box-width;
    margin-top: 20px;

    .name {
        font-size: 25px;
        padding-bottom: 6px;
        font-weight: bold;
    }
}
