doctype html  
html(lang='en')  
  head
    title Rocketry
    link(href='/styles/rocketry.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Rocketry
      hr
      a(href='../') Home
      ||
      a(href='../srm') Solid Rocket Motors
      ||
      a(href='../rmts') RMTS

    .projects
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/xBHdcrYyst0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name FROG: 3" CF-Case MD
        .description
          table
            tr
              td Date:
              td 12/16/23
            tr
              td Motor:
              td EX M1466
            tr
              td Altitude:
              td 34,673'
            tr
              td Velocity:
              td 2200 mph
            tr
              td Recovery:
              td Deployment failed, ballistic
            tr
              td Outcome:
              td Partial Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/tOCcHgVkCgg", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name 5" Patriot
        .description
          table
            tr
              td Date:
              td 6/25/22
            tr
              td Motor:
              td EX K616
            tr
              td Altitude:
              td 4,980'
            tr
              td Recovery:
              td Nominal, but exciting
            tr
              td Outcome:
              td Success
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/Tzg6ADqgXRw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name Bunsen Burner: 3" MD
        .description
          table
            tr
              td Date:
              td 8/21/21
            tr
              td Motor:
              td Aerotech M1297
            tr
              td Altitude:
              td 21,084'
            tr
              td Velocity:
              td 1,470 mph
            tr
              td Recovery:
              td Nominal
            tr
              td Outcome:
              td Success
        a(href='bunsenburner') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/zfLDLUIBSJ0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name Arrow: L3 Flight
        .description
          table
            tr
              td Date:
              td 7/7/18
            tr
              td Motor:
              td Aerotech M1297
            tr
              td Altitude:
              td 7,006'
            tr
              td Velocity:
              td 551 mph
            tr
              td Recovery:
              td Nominal
            tr
              td Outcome:
              td Success
        a(href='arrow') Read more
