doctype html  
html(lang='en')  
  head
    title Rocketry
    link(href='/styles/rocketry.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Rocketry
      hr
      a(href='../') Home
      ||
      a(href='../srm') Solid Rocket Motors
      ||
      a(href='../rmts') RMTS

