doctype html  
html(lang='en')  
  head
    title Rocketry
    link(href='/styles/rocketry.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap", rel="stylesheet")
  body
    .header
      .name Rocketry
      hr
      a(href='../') Home
      ||
      a(href='../srm') Solid Rocket Motors
      ||
      a(href='../rmts') RMTS

    .projects
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/Tzg6ADqgXRw", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name Bunsen Burner: 3" MD
        .description
          table
            tr
              td Date:
              td 8/21/21
            tr
              td Motor:
              td Aerotech M1297
            tr
              td Altitude:
              td 21084'
            tr
              td Velocity:
              td 1470 MPH
            tr
              td Recovery:
              td Nominal
            tr
              td Outcome:
              td Success
        a(href='bunsenburner') Read more
      .project
        iframe(width="490", height="275", src="https://www.youtube.com/embed/zfLDLUIBSJ0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .name Arrow: L3 Flight
        .description
          table
            tr
              td Date:
              td 7/7/18
            tr
              td Motor:
              td Aerotech M1297
            tr
              td Altitude:
              td 7006'
            tr
              td Velocity:
              td 551 MPH
            tr
              td Recovery:
              td Nominal
            tr
              td Outcome:
              td Success
        a(href='arrow') Read more
